vdpservice_ERP.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- VDP Service API Version 2_6 -->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://vdp.greatviewpack.org/v1/soap"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema" name="vdpwebservice" targetNamespace="http://vdp.greatviewpack.org/v1/soap">
    <wsdl:types>
        <xs:schema targetNamespace="http://vdp.greatviewpack.org/v1/soap">
            <xs:complexType name="PushOrder">
                <xs:sequence>
                    <xs:element name="saleNum" type="xs:string" minOccurs="0"/>
                    <xs:element name="orderId" type="xs:string" minOccurs="0"/>
                    <xs:element name="customerCode" type="xs:string" minOccurs="0"/>
                    <xs:element name="productCode" type="xs:string" minOccurs="0"/>
                    <xs:element name="vdpType" type="xs:string" minOccurs="0"/>
                    <xs:element name="codeURL" type="xs:string" minOccurs="0"/>
                    <xs:element name="planCount" type="xs:string" minOccurs="0"/>
                    <xs:element name="multipleNum" type="xs:string" minOccurs="0"/>
                    <xs:element name="splitSpec" type="xs:string" minOccurs="0"/>
                    <xs:element name="designId" type="xs:string" minOccurs="0"/>
                    <xs:element name="vdpVersion" type="xs:string" minOccurs="0"/>
                    <xs:element name="orderNum" type="xs:string" minOccurs="0"/>
                    <xs:element name="factoryCode" type="xs:string" minOccurs="0"/>
                    <xs:element name="lineCode" type="xs:string" minOccurs="0"/>
                    <xs:element name="webNum" type="xs:string" minOccurs="0"/>
                    <xs:element name="pushMESDate" type="xs:string" minOccurs="0"/>
                    <xs:element name="customerOrderNum" type="xs:string" minOccurs="0"/>
                    <xs:element name="gd_Number" type="xs:string" minOccurs="0"/>
                    <xs:element name="gd_Ver" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PushOrderResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PushSplit">
                <xs:sequence>
                    <xs:element name="orderId" type="xs:string" minOccurs="0"/>
                    <xs:element name="rollNum" type="xs:string" minOccurs="0"/>
                    <xs:element name="rollCode" type="xs:string" minOccurs="0"/>
                    <xs:element name="webNum" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PushSplitResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PushDefects">
                <xs:sequence>
                    <xs:element name="scanSequences" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PushDefectsResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PushRoll">
                <xs:sequence>
                    <xs:element name="orderId" type="xs:string" minOccurs="0"/>
                    <xs:element name="rollNum" type="xs:string" minOccurs="0"/>
                    <xs:element name="startCode" type="xs:string" minOccurs="0"/>
                    <xs:element name="endCode" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PushRollResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PushVDPRoll">
                <xs:sequence>
                    <xs:element name="orderId" type="xs:string" minOccurs="0"/>
                    <xs:element name="VDPRoll" type="xs:string" minOccurs="0"/>
                    <xs:element name="SentTime" type="xs:string" minOccurs="0"/>
                    <xs:element name="FactoryId" type="xs:string" minOccurs="0"/>
                    <xs:element name="Operator" type="xs:string" minOccurs="0"/>
                    <xs:element name="OutDlCode" type="xs:string" minOccurs="0"/>
                    <xs:element name="Counts" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PushVDPRollResponse">
                <xs:sequence>
                    <xs:element name="r1" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="MatterInformation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg1" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg2" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg3" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg4" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg5" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg6" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg7" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg8" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg9" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg10" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg11" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg12" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg13" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg14" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg15" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg16" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg17" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg18" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg19" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg20" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg21" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg22" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg23" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg24" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg25" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg26" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg27" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg28" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg29" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="MatterInformationResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ClientInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg1" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg2" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg3" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg4" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg5" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg6" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg7" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg8" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg9" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg10" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg11" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg12" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg13" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg14" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg15" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg16" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg17" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg18" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg19" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg20" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg21" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg22" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg23" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg24" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg25" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg26" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ClientInfoResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="RollInfoDetail">
                <xs:sequence>
                    <xs:element minOccurs="0" name="rollNum" type="xs:string"/>
                    <xs:element minOccurs="0" name="rollPar" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ReceiveConfigInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ReceiveConfigInfoResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="rollInfo">
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="rollInfo" type="tns:RollInfoDetail"/>
                        <!--type="tns:RollInfoDetail"-->
                    </xs:sequence>
            </xs:complexType>
            <xs:complexType name="rollInfoResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:boolean">
                    </xs:element>
                </xs:sequence>
            </xs:complexType>

            <xs:element name="PushOrder" type="tns:PushOrder"/>
            <xs:element name="PushOrderResponse" type="tns:PushOrderResponse"/>
            <xs:element name="PushSplit" type="tns:PushSplit"/>
            <xs:element name="PushSplitResponse" type="tns:PushSplitResponse"/>
            <xs:element name="PushDefects" type="tns:PushDefects"/>
            <xs:element name="PushDefectsResponse" type="tns:PushDefectsResponse"/>
            <xs:element name="PushRoll" type="tns:PushRoll"/>
            <xs:element name="PushRollResponse" type="tns:PushRollResponse"/>
            <xs:element name="PushVDPRoll" type="tns:PushVDPRoll"/>
            <xs:element name="PushVDPRollResponse" type="tns:PushVDPRollResponse"/>
            <xs:element name="MatterInformation" type="tns:MatterInformation"/>
            <xs:element name="MatterInformationResponse" type="tns:MatterInformationResponse"/>
            <xs:element name="ClientInfo" type="tns:ClientInfo"/>
            <xs:element name="ClientInfoResponse" type="tns:ClientInfoResponse"/>
            <xs:element name="ReceiveConfigInfo" type="tns:ReceiveConfigInfo"/>
            <xs:element name="ReceiveConfigInfoResponse" type="tns:ReceiveConfigInfoResponse"/>
            <xs:element name="rollInfo" type="tns:rollInfo"/>
            <xs:element name="rollInfoResponse" type="tns:rollInfoResponse"/>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="PushOrder">
        <wsdl:part name="parameters" element="tns:PushOrder"/>
    </wsdl:message>
    <wsdl:message name="PushOrderResponse">
        <wsdl:part name="parameters" element="tns:PushOrderResponse"/>
    </wsdl:message>
    <wsdl:message name="PushSplit">
        <wsdl:part name="parameters" element="tns:PushSplit"/>
    </wsdl:message>
    <wsdl:message name="PushSplitResponse">
        <wsdl:part name="parameters" element="tns:PushSplitResponse"/>
    </wsdl:message>
    <wsdl:message name="PushDefects">
        <wsdl:part name="parameters" element="tns:PushDefects"/>
    </wsdl:message>
    <wsdl:message name="PushDefectsResponse">
        <wsdl:part name="parameters" element="tns:PushDefectsResponse"/>
    </wsdl:message>
    <wsdl:message name="PushRoll">
        <wsdl:part name="parameters" element="tns:PushRoll"/>
    </wsdl:message>
    <wsdl:message name="PushRollResponse">
        <wsdl:part name="parameters" element="tns:PushRollResponse"/>
    </wsdl:message>
    <wsdl:message name="PushVDPRoll">
        <wsdl:part name="parameters" element="tns:PushVDPRoll"/>
    </wsdl:message>
    <wsdl:message name="PushVDPRollResponse">
        <wsdl:part name="parameters" element="tns:PushVDPRollResponse"/>
    </wsdl:message>
    <wsdl:message name="MatterInformation">
        <wsdl:part name="parameters" element="tns:MatterInformation"/>
    </wsdl:message>
    <wsdl:message name="MatterInformationResponse">
        <wsdl:part name="parameters" element="tns:MatterInformationResponse"/>
    </wsdl:message>
    <wsdl:message name="ClientInfo">
        <wsdl:part name="parameters" element="tns:ClientInfo"/>
    </wsdl:message>
    <wsdl:message name="ClientInfoResponse">
        <wsdl:part name="parameters" element="tns:ClientInfoResponse"/>
    </wsdl:message>
        <wsdl:message name="ReceiveConfigInfo">
        <wsdl:part name="parameters" element="tns:ReceiveConfigInfo"/>
    </wsdl:message>
    <wsdl:message name="ReceiveConfigInfoResponse">
        <wsdl:part name="parameters" element="tns:ReceiveConfigInfoResponse"/>
    </wsdl:message>
    <wsdl:message name="rollInfo">
        <wsdl:part name="parameters" element="tns:rollInfo"/>
    </wsdl:message>
    <wsdl:message name="rollInfoResponse">
        <wsdl:part name="parameters" element="tns:rollInfoResponse"/>
    </wsdl:message>
    <wsdl:portType name="VDPServicePortType">
        <wsdl:operation name="PushOrder">
            <wsdl:documentation>Get orderinfo for pre print.
            </wsdl:documentation>
            <wsdl:input message="tns:PushOrder">
            </wsdl:input>
            <wsdl:output message="tns:PushOrderResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PushSplit">
            <wsdl:documentation>Get splitinfo for order.
            </wsdl:documentation>
            <wsdl:input message="tns:PushSplit">
            </wsdl:input>
            <wsdl:output message="tns:PushSplitResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PushDefects">
            <wsdl:documentation>Get defects for order.
            </wsdl:documentation>
            <wsdl:input message="tns:PushDefects">
            </wsdl:input>
            <wsdl:output message="tns:PushDefectsResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PushRoll">
            <wsdl:documentation>Get roll for order.
            </wsdl:documentation>
            <wsdl:input message="tns:PushRoll">
            </wsdl:input>
            <wsdl:output message="tns:PushRollResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PushVDPRoll">
            <wsdl:documentation>Get VDP finished product roll for order.
            </wsdl:documentation>
            <wsdl:input message="tns:PushVDPRoll">
            </wsdl:input>
            <wsdl:output message="tns:PushVDPRollResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="MatterInformation">
            <wsdl:documentation>Get Matter for ERP.
            </wsdl:documentation>
            <wsdl:input message="tns:MatterInformation">
            </wsdl:input>
            <wsdl:output message="tns:MatterInformationResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ClientInfo">
            <wsdl:documentation>Get Client for ERP.
            </wsdl:documentation>
            <wsdl:input message="tns:ClientInfo">
            </wsdl:input>
            <wsdl:output message="tns:ClientInfoResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ReceiveConfigInfo">
            <wsdl:documentation>Get file for VDP.
            </wsdl:documentation>
            <wsdl:input message="tns:ReceiveConfigInfo">
            </wsdl:input>
            <wsdl:output message="tns:ReceiveConfigInfoResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="rollInfo">
            <wsdl:documentation>Get file for VDP.
            </wsdl:documentation>
            <wsdl:input message="tns:rollInfo">
            </wsdl:input>
	        <wsdl:output message="tns:rollInfoResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="VDPServiceBinding" type="tns:VDPServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="PushOrder">
            <soap:operation soapAction="pushOrder" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PushSplit">
            <soap:operation soapAction="pushSplit" />
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PushDefects">
            <soap:operation soapAction="pushDefects" />
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PushRoll">
            <soap:operation soapAction="pushRoll" />
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PushVDPRoll">
            <soap:operation soapAction="pushVDPRoll" />
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="MatterInformation">
            <soap:operation soapAction="pushMatter" />
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ClientInfo">
            <soap:operation soapAction="pushClient" />
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ReceiveConfigInfo">
            <soap:operation soapAction="ReceiveConfigInfo" />
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="rollInfo">
            <soap:operation soapAction="TestSoapInterface" />
            <wsdl:input>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="VdpApiService">
        <wsdl:port name="VdpApiPort" binding="tns:VDPServiceBinding">
            <soap:address location="http://localhost:8080/v1/soap" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>